.game {
    .timer {
        color: white;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 50px;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding-bottom: 120px;

    .chatBtn {
        width: 60px;
        height: 60px;

        background: #1d1d2a;

        border-radius: 10px;

        cursor: pointer;

        color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 50px;
    }

    .controls {
        display: flex;
        margin-top: 20px;
    }
}
