.cancelMatch {
    margin-top: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: white;

    button {
        padding: 10px;
    }

    .counter {
        margin-top: 10px;
    }
}