.navbar {
	position: fixed;
	bottom: 0;
	height: 47px;
	width: 100%;

	// background: #404552;
	background-color: #383b44;
	display: grid;
	align-items: center;
	justify-content: center;

	grid-template-columns: 45px 45px 45px;
	// grid-auto-columns: 45px;
	column-gap: 40px;

	z-index: 20;

	.navLink {
		color: white;
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: center;

		text-align: center;

		transition: 0.3s;

		font-size: 18px;

		img {
			width: 27px;
			height: 27px;

			&.profile {
				border-radius: 100%;
			}
		}

		&.active {
			color: #2dff7d;
		}

		&:hover {
			color: #2dff7d;
		}
	}
}
