.notifications {
	.invite {
		background: #1d1d2a;
		border-radius: 10px;
		padding: 10px;
		margin-bottom: 10px;

		width: 300px;

		color: white;

		box-shadow: 0 12px 26px rgba(0, 0, 0, 0.4);
		transform-origin: right;
	}
}
