.search {
    button {
        color: white;
        font-size: 16px;

        border: none;
        border-radius: 30px;

        width: 250px;
        height: 40px;

        background: #6C63FF;
    }
}