.search {
	button {
		color: white;
		font-size: 16px;

		border: none;
		border-radius: 30px;

		width: 250px;
		height: 40px;

		background: #2bb15e;
        // background-color: #2196f3;
		cursor: pointer;

		transition: 0.5s;

		outline: none;
        
        &.red {
            background: #e74c3c;
		}
	}

	margin-bottom: 20px;
}
