.auth {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	.authInput {
        margin: 10px;

        transition: 0.3s;

        &:focus {
			border: 1px solid #3fa3ff;
			box-shadow: 0px 0px 15px rgba(63, 163, 255, 0.25);
		}
	}

	.alternative {
		font-size: 16px;
		line-height: 14px;
		display: flex;
		align-items: center;
		text-align: center;

		color: #c4c4c4;

        cursor: pointer;
        
        margin-top: 20px;
	}

    .topInfo{
        color: white;
    }

	button {
		width: 220px;
		height: 52px;
		left: 487px;
		top: 711px;

		background: #2b2b2e;
		border-radius: 46px;

		border: none;
		outline: none;

		color: white;

		margin-top: 20px;

		cursor: pointer;

        font-size: 15px;

		&.signup {
			background: #6c63ff;
		}

		&.signin {
			background: #6c63ff;
		}

		&.true {
			background: #5f5f5f;
		}
	}

	.err {
		color: red;
		width: 250px;
	}
}
